[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "spotipyql"

[packages]
flask = "*"
flask-graphql = "*"
spotipy = "*"
graphene = "*"

[dev-packages]
pylint = "*"
snapshottest = "*"
pytest = "*"

[requires]
python_version = "3.7"
